@using Need4Chat.Shared

<style>
    .chat-message {
        margin-right: 2vh;
        line-height: 0.25;
        font-family: monospace;
    }

</style>

@*<Tooltip IsFade="true" Text="@(Formats.StandardDate(chatMessage.DateAndTime.ToLocalTime()))">*@
<ul>

        @if (HasLink(chatMessage.Body))
        {
            <li class="chat-message" title="@(Formats.StandardDate(chatMessage.DateAndTime.ToLocalTime()))" >
                @chatMessage.Username: <a href=@chatMessage.Body> @chatMessage.Body</a>
            </li>
        }
        else
        {
            <li class="chat-message" title="@(Formats.StandardDate(chatMessage.DateAndTime.ToLocalTime()))" >
                @chatMessage.Username: @((MarkupString)chatMessage.Body.Replace(" ", "&nbsp;"))
            </li>
        }
</ul>
@*</Tooltip>*@

@code {
    [Parameter] public ChatMessage chatMessage { get; set; }


    public bool HasLink(string message)
    {
        return message.Contains("http");
    }

}
