@using Need4Chat.Shared

<style>
    .chat-message {
        margin-right: 2vh;
        line-height: 0.25;
        font-family: monospace;
    }

</style>

<Tooltip IsFade="true" Text="@(Formats.StandardDate(chatMessage.DateAndTime.ToLocalTime()))">

    <div class="chat-message">
        @if (HasLink(chatMessage.Body))
        {
            <p> @chatMessage.Username: <a href=@chatMessage.Body> @chatMessage.Body</a></p>
        }
        else
        {
            <p> @chatMessage.Username: @((MarkupString)chatMessage.Body.Replace(" ", "&nbsp;"))</p>
        }
    </div>
</Tooltip>

@code {
    [Parameter] public ChatMessage chatMessage { get; set; }


    public bool HasLink(string message)
    {
        return message.Contains("http");
    }

}
