@page "/trade"
@using Need4Chat.Shared
@inject NavigationManager navigationManager

<style>
    .grid-container {
        display: grid;
        /*grid-auto-flow: row;*/
        grid-template-columns: 100px 100px 100px 100px 100px;
    }

</style>

<h3>Trades</h3>


<div>
    <p>Item List</p>

    <div>
        @foreach (var a in tradeDetails.userItemMap)
        {
            @foreach (var i in a.Value)
            {
                <div class="grid-container">
                    <div class="grid-column"> @(i.description) </div>
                    <div class="grid-column"> @if (i.userItemOffset > 0) { <span>Supplying @(i.userItemOffset)</span> } else { <span>Need @(-i.userItemOffset)</span> } </div>
                    <div class="grid-column"> @(tradeItemTotals[i]) needed for trade </div>
                    <div class="grid-column"> <button @onclick="@(e => UserChangedOffset(i, 1))">Increase</button> </div>
                    <div class="grid-column"> <button @onclick="@(e => UserChangedOffset(i, -1))">Decrease </button> </div>
                </div> 
            }
        }
    </div>
</div>

<Link To="/"> Go to chat </Link>


@code {

    TradeClient client = null;

    String Username = "tester";
    String message = string.Empty;

    TradeMessage newTradeMessage;


    static List<ItemDetails> tradeItemDetails = new List<ItemDetails> {
        new ItemDetails {ID = "1", description = "Apples"},
        new ItemDetails {ID = "2", description = "Oranges"},
        new ItemDetails {ID = "3", description = "Pears"},
        new ItemDetails {ID = "4", description = "TP"},
        new ItemDetails {ID = "5", description = "Soap"},
    };

    static Dictionary<ItemDetails, int> tradeItemTotals = new Dictionary<ItemDetails, int>()
        {
            {tradeItemDetails[0], 5 },
            {tradeItemDetails[1], 4 },
            {tradeItemDetails[2], 3 },
            {tradeItemDetails[3], 2 },
            {tradeItemDetails[4], 1 },
        };

    TradeDetails tradeDetails = new TradeDetails
    {
        userItemMap = new Dictionary<UserInfo, List<ItemDetails>>() { { new UserInfo { Username = "Phil", ID = "1" }, tradeItemDetails } }
    };

    /// <summary>
    /// Start chat client
    /// </summary>
    async Task Trade()
    {
        // check username is valid
        //if (string.IsNullOrWhiteSpace(username))
        //{
        //	message = "Please enter a name";
        //	return;
        //};

        try
        {
            //// remove old messages if any
            //messages.Clear();

            // Create the chat client
            string baseUrl = navigationManager.BaseUri;

            //newTradeMessage = new TradeMessage() { Username = Username, Mine = true, DateAndTime = DateTime.Now };

            client = new TradeClient(Username, baseUrl);

            //// add an event handler for incoming messages
            //client.MessageReceived += MessageReceived;
            //client.BulkMessagesReceived += BulkMessagesReceived;

            // start the client
            Console.WriteLine("Index: trade starting...");

            await client.StartAsync();
            Console.WriteLine("Index: trade started?");
        }
        catch (Exception e)
        {
            message = $"ERROR: Failed to start trade client: {e.Message}";
            Console.WriteLine(e.Message);
            Console.WriteLine(e.StackTrace);
        }
    }

    protected override async Task OnInitializedAsync()
    {
        await Trade();
    }

    async Task UserChangedOffset(ItemDetails item, int val)
    {
        item.userItemOffset += val;

        // send message to hub
        //await client.SendAsync(newTradeMessage);

        StateHasChanged();
    }

    /// <summary>
    /// Inbound message
    /// </summary>
    /// <param name="sender"></param>
    /// <param name="e"></param>
    void MessageReceived(object sender, MessageReceivedEventArgs e)
    {
        //ProcessMessageEvent(e);

        // Inform blazor the UI needs updating
        StateHasChanged();
    }

}

